<html>
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <tr>
                <th>Libellé</th>
                <th>Période</th>
                <th>Personnel</th>
                <th>Description/Observation</th>
            </tr>
            <tr class="row_template">
                <td id="libelle">test</td>
                <td id="periode">test</td>
                <td id="personnel">test</td>
                <td id="description_observation">test</td>
            </tr>
        </table>
    </body>
</html>